@charset "UTF-8";
#border { 
	width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom:100px;
    max-width: 500px;
    margin-top: 80px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}
.profile{
	font-family: sans-serif;
	font-size: 30px;
	color:black;
	font-weight:bold;
}
table td {
	font-size: 1.0em;
    padding: 5px;
    padding-left: 30px;
}
input {
	border: 1px solid lightgray;
    width: 400px;
    height: 28px;
    border-radius: 5px;
}
input[type='text'] {
	width: 200px;
	text-indent: 10px;
}
input[type='password'] {
	text-indent: 10px;
	width: 200px;
}
input[type='email'] {
	text-indent: 10px;
}
input[type='submit'] {
	width: 430px;
    height: 60px;
    margin: 0 auto;
    background-color: #7ca4c7;
    background-color: #757169;
    font-weight:bold;
    font-size:1.3em;
    color:white;
}
input[type='radio'] {
	width: 60px;
    height: 18px;
    background-color: #7ca4c7;
    background-color: #757169;
    
    color:white;
}
b {
	color: red;
}

#idConfirmResult{
    font-size:10px;
}
#pwChkResult{
	font-size:10px;
}
#emailConfirmResult{
	font-size:10px;
}